body {
    background-color: #2b2b2b;
    color: #A9B7C6;
    margin: 20px;
}

img {
    display: block;
    max-width: 80%;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: #d1bc62;
}

a:visited {
    color: #c37432;
}

h1 {
    color: #AE8ABE;
}

.feed {
    margin-left: 3px;
    padding: 0 0 0 19px;
    background: url("feed-icon-14x14.png") no-repeat 0 50%;
}

.navigation {
    float: right;
    background: #3c3f41;
    margin-left: 20px;
    width: 300px;
}

.caption {
    text-align: center;
    font-style: italic;
}